*~
tmp*
\#*
.\#*
bld/
node_modules/
artifacts/
cache/
hardhat.config.js
typechain/
yarn-error.log
tenderly.yaml
coverage.json
coverage/
layout.*.json
.vscode/

.env
.log/
.DS_Store
dist/
*/deployments/*Forked*/
.deploys/